if SHIELD_FATA_MORGANA_LEFT

config ZMK_KEYBOARD_NAME
    default "fata-morgana"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_FATA_MORGANA_LEFT

if SHIELD_FATA_MORGANA_LEFT || SHIELD_FATA_MORGANA_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_FATA_MORGANA_LEFT || SHIELD_FATA_MORGANA_RIGHT
